{% extends 'core/index.html' %}
{% block content %}
    <div class="warning">
        <h1>Наша история:</h1>
        <br>
        <p>Магазин разливного пива и минибар срок работы 2015 по настоящее время.</p>
        <p>Вопрос выбора сферы деятельности для меня решился очень быстро)) Любитель пива я отменный).
            Ладно шутки в сторону. Основополагающим фактором для открытия магазина явился небольшая сумма для входа на
            этот рынок:
            бюджет у меня был на тот момент 350000. Ценник на открытие магазина на текущий момент не изменился не плохой
            магазин-бар можно открыть в пределах этой суммы и сейчас.</p>
        <br>
        <p>Затраты на магазин составили:</p>
        <br>
        <p>1. Арендная плата. 56000 в месяц+56000 залог=112000.</p>
        <p>2. Стройматериалы (Вагонка, мебельные щиты, не струганная доска, лаки, краски, кисти, розетки, провода и
            прочее) - 35000+1000 доставка= 36000.</p>
        <p>3. Холодильник нашел на сайте объявлений в соседнем городе ) 12000.</p>
        <p>4. Стеллажи там же 3000.</p>
        <p>5. Оборудование для пива бесплатно!!! Об этом стоит поговорить подробнее. Для начинающегося бизнеса нет
            смысла покупать оборудование,
            так как это достаточно затратно (на момент открытия стоимость 1 потока пива вместе с охладителями составляла
            порядка 4000 рублей
            что на 24 потока выходило 96000 рублей). Почти все поставщики пива предоставляют оборудование и установку
            бесплатно,
            при условии покупки пива у них, но мы живем в России и это правило достаточно легко обходится.
            Установка всего оборудования занимает 1 день. Как итог отличный вариант сэкономить:)</p>
        <p>6. Холодильная камера. Стоимость установки 50-60000 рублей. У себя в магазине я ее не устанавливал...
            Не было места, но для установки обязательна (Пиво не киснет и может хранится по несколько месяцев)</p>
        <p>7. Касса 3000. Но на данный момент порядка 25000 (Онлайн касса + ЕГАИС).</p>
        <p>8. Весы для покупателей 6000 и для взвешивания пива (3000).</p>
        <p>9. Листовки, ценники, чековая лента 2000.</p>
    </div>
{% endblock %}