{% extends 'core/index.html' %}

{% block content %}

    <h2>Наши контакты</h2>
    <h4>Интернет-магазин</h4>
    <br>
    <p>Телефоны:</p>
    <br>
    <p>8 (812) 318-03-48,</p>
    <p>8 (800) 550-15-29,</p>
    <p>8 (921) 861-19-59</p>
    <p>(понедельник-пятница 10-00 до 20-00, обед с 15-00 до 15-30)</p>
<br>
    <p>E-mail: magazin@pnk.ru</p>
<br>
    <p> Группа в VK: vk.com/nitki_kirova</p>
    <p>Телеграм канал: t.me/nitki_kirova</p>
    <p>Facebook: facebook.com/nitki.kirova</p>
    <p>Instagram: instagram.com/nitki_kirova</p>
    <p>Одноклассники: ok.ru/pnkru</p>
<br>
    <p>Обработка заказов: понедельник-пятница 10-00 до 20-00</p>
<br>
    <p>Самомывоз по адресу:</p>
    <p>Санкт-Петербург, ул. Красного Текстильщика, д. 10-12</p>
    <p>Понедельник-пятница с 10-00 до 20-00, обед с 15-00 до 15-30</p>
<br>
    <h5>Транспорт:</h5>
    <p><b>м. "Площадь Александра Невского", маршрутное такси напротив метро до ЕЦД и ЕМЦ.</b></p>
    <p><b>м. "Чернышевская", автобус 22, 105, 46, троллейбус 15, маршрутное такси 269,167.</b></p>
    <p><b>м. "Невский проспект", автобус 22, троллейбус 5, 7, 11.</b></p>
    <p><b>м. "Площадь Восстания, автобус 181, троллейбус 33.</b></p>


{% endblock %}