{% extends 'index.html' %}

{% block content %}
    Наши контакты
Интернет-магазин
<br>
Телефоны:
    <br>
8 (812) 318-03-48,
8 (800) 550-15-29,
8 (921) 861-19-59
(понедельник-пятница 10-00 до 20-00, обед с 15-00 до 15-30)

E-mail: magazin@pnk.ru

 Группа в VK: vk.com/nitki_kirova
 Телеграм канал: t.me/nitki_kirova
 Facebook: facebook.com/nitki.kirova
 Instagram: instagram.com/nitki_kirova
 Одноклассники: ok.ru/pnkru

Обработка заказов: понедельник-пятница 10-00 до 20-00

Самомывоз по адресу:
Санкт-Петербург, ул. Красного Текстильщика, д. 10-12
Понедельник-пятница с 10-00 до 20-00, обед с 15-00 до 15-30

Транспорт:
м. "Площадь Александра Невского", маршрутное такси напротив метро до ЕЦД и ЕМЦ.
м. "Чернышевская", автобус 22, 105, 46, троллейбус 15, маршрутное такси 269,167.
м. "Невский проспект", автобус 22, троллейбус 5, 7, 11.
м. "Площадь Восстания, автобус 181, троллейбус 33.

{% endblock %}